<header>
<h1>Hello DenverJS!</h1>
<h3>Rails Example</h3>
</header>
<p>Awesome attendees:</p>
<ul id="attendee-list"></ul>
<form id="add-attendee-form">
    <label>
        Name:
        <input type="text" name="name"/>
    </label>
    <input type="submit"/>
</form>